# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files (keep folders, not files)
data/raw/*.csv
data/processed/*.csv

# Model files
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
